.git/
.idea/
.venv/
__pycache__/

brazil/
china/
europe/
india/
korea/
korea_addition/
malaysia/
only_yolo/
spain/

PaddleOCR/
country_classification_data_v1/
ocr_train_data_v1/
yolo_train_data_v1/
korea_ev/

finetuned_models/

*.jpg
*.jpeg
*.png
*.avif
*.webp
*.svg
*.gif
*.bmp